#!/bin/bash
#
export GOVC_DATACENTER=${dc}
export GOVC_URL=${vsphere_url}
export GOVC_INSECURE=true
#
govc object.destroy /${dc}/vm/'${vcenter_folder}'
govc pool.destroy /${dc}/host/${cluster}/Resources/${vcenter_resource_pool}
#