apiVersion: run.tanzu.vmware.com/v1alpha3
kind: ClusterBootstrap
metadata:
  annotations:
    tkg.tanzu.vmware.com/add-missing-fields-from-tkr: ${k8s_version}---vmware.1-tkg.4
  name: {name}
spec:
  cni:
    refName: antrea.tanzu.vmware.com.1.7.2+vmware.1-tkg.1-advanced
    valuesFrom:
      providerRef:
        apiGroup: cni.tanzu.vmware.com
        kind: AntreaConfig
        name: ${antrea_config_name}